@import "./reset.css";

.start{
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	border: none;
	color: white;
	padding: 2rem 0;
	background: black;
	font-size: 1.5rem;
	font-family: sans-serif;
	font-weight: 700;
	z-index: 200;
}

.hide {
	display: none;
}

.car {
	width: 50px;
	height: 100px;
	position: absolute;
}

.player {
	background: transparent url("./image/newPlayerCar.png") center / cover
		no-repeat;
}

.gameArea {
	width: 300px;
	position: relative;
	margin: auto;
	background: #222;
	overflow: hidden;
}

.line {
	position: absolute;
	height: 50px;
	width: 10px;
	background: #fff;
	left: 145px;
}

.score{	
position: absolute;
top: 0;
left: 0;
width: 100%;
background: rgb(30, 31, 30);
padding: 1.5rem 0;
z-index: 200;
color:rgb(165, 66, 66);
font-size: 1.5rem;
font-family: sans-serif;
font-weight: 500;
text-align: center;
}

.btn{
	margin-left: 20px;
	background: transparent;
	color:#00ffff;
	font-size: 1.2rem;
	font-family: cursive;
    box-shadow: 1px 1px 1px 1px palevioletred;
	cursor: pointer;
}