@import "./reset.css";

.start{
	display: block;
	margin:auto;
}

.hide {
	display: none;
}

.car {
	width: 50px;
	height: 100px;
	position: absolute;
	left: 125px;
	bottom: 10px;
}

.player {
	background: transparent url("./image/newPlayerCar.png") center / cover
		no-repeat;
}

.gameArea {
	width: 300px;
	height: 100%;
	position: relative;
	margin: auto;
	background: #222;
	overflow: hidden;
}

.line {
	position: absolute;
	height: 50px;
	width: 10px;
	background: #fff;
	left: 145px;
}